html {
    /* width: 100vw; */
    max-width:100%;
    overflow: auto;
}
body {    
    margin: 0 !important;
    padding: 0 !important;
}
.mr50 {
    margin-right: 50px;
}
.img {
    height: 70px;
}
.logoimg2 {
    max-height: 30px;
    max-width: 50px;
    object-fit: scale-down;
}